<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array/>
	<key>com.apple.developer.family-controls</key>
	<true/>
	<key>com.apple.developer.family-controls.app-and-website-usage</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.gianlucacrous.FocusGlobe</string>
	</array>
	<key>com.apple.developer.icloud-extended-share-access</key>
	<array>
		<string>InProcessShareOwnerParticipantInfo</string>
		<string>InProcessOneTimeLinks</string>
		<string>InProcessShareAccessRequests</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudDocuments</string>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<array/>
	<key>com.apple.developer.shared-with-you</key>
	<true/>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.com.gianlucacrous.FocusGlobe</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)$(CFBundleIdentifier)</string>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.developer.wifi-aware</key>
	<array>
		<string>Publish</string>
		<string>Subscribe</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.focusglobe.app</string>
	</array>
	<key>inter-app-audio</key>
	<true/>
</dict>
</plist>
